#splatterPaint {
    visibility: hidden; /* nonexistent (at this point lol) */
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh; 
}

#start-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}