@font-face {
    font-family: "malampoek";
    src: url("malampoek.otf");
}

@font-face {
    font-family: "closet";
    src: url("closet.ttf");
}


#splatterPaint {
    visibility: hidden; /* nonexistent (at this point lol) */
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh; 
}

#start-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 224, 234);
} 

#start-page h1 {
    font-family: "closet", monospace; 
    font-size: clamp(3rem, 10vw, 6rem); /* try to be 8vw(8% of viewport width); min 2rem max 6rem */
    animation: rainbow 12s ease infinite;
}

@keyframes rainbow {
    0% {
        color:rgb(163, 74, 102)
    }
    15% {
        color:rgb(159, 134, 218)
    }
    30% {
        color:rgb(82, 91, 172)
    }
    45% {
        color:rgb(77, 119, 167)
    }
    60% {
        color:rgb(91, 143, 112)
    }
    85% {
        color:rgb(168, 129, 44)
    }
    100% {
        color:rgb(163, 74, 102)
    }
}
#start-btn {
    font-family: "malampoek", monospace;
    letter-spacing: 0.15em;
    padding: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    border: none;
    background-color: rgb(197, 111, 111);
    color: rgb(255, 246, 249); 
}

.flower {
    size: 5rem;
    position: fixed; /* relative to screen */
    top: -100px; /* so flowers stay above screen + fall into view */
    animation: fall linear infinite; /* linear = constant speed */
    pointer-events: none; /* unclickable */
}

@keyframes fall {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(300vh) rotate(360deg);
    }
}